main{
    text-align: justify;
}
h1{
    color: var(--color7);
}
main a{
    color: var(--color7); /* Color de texto para enlaces */
    text-decoration: none; /* Elimina el subrayado */
}
main a:hover {
    color: var(--color8);

}
strong{
    color: var(--color8);
}