main p{
    font-weight: 400;
    color: var(--color2);
    text-align: justify;
}
main span{
    color: var(--color7);
}
a{
    color: var(--color7); /* Color de texto para enlaces */
    text-decoration: none; /* Elimina el subrayado */
    font-size: 4rem; /* Tamaño de fuente grande */
}
a:hover {
    color: var(--color8);
}